body, html {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.slider-container {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#date-slider {
  width: 61.9vw;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}
#date-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4285f4;
  border-radius: 5px;
  cursor: pointer;
}
#date-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4285f4;
  border-radius: 5px;
  cursor: pointer;
}
.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  padding: 5px 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
}
.mapboxgl-popup-content {
  width: 200px;
  height: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.box {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fiesta-value {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #455252;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 1;
}
h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 9px;
  font-style: italic;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  box-sizing: border-box;
}
footer a {
  color: rgb(217, 255, 0);
}















